@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600;1,700&display=swap');

/* COLORS AND DEFINITIONS */
:root {
    --clr-light: #fff;
    --clr-text: #1575BF;
    --clr-text-hover: #171556;
    --clr-text-simple-hex-span: #000;
    --clr-btn-background-hover: #000;
    --clr-btn-text-hover: #fff; 
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.3rem;
    --max-width: 1170px;
    --fixed-width: 620px;
}

/* RESET*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poopins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: var(--clr-text);
    letter-spacing: var(--spacing);
}

/* NAV */
#nav-container {
    background: var(--clr-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    -webkit-box-shadow: -2px 6px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 30px -8px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 30px -8px rgba(0,0,0,0.75);
}

#nav-container ul {
    display: flex;
    gap: 2rem;
    font-weight: bold;
}

#nav-container li {
    list-style: none;
}

#nav-container a {
    text-decoration: none;
    color: var(--clr-text);
    font-weight: bolder;
}

#nav-container a:hover {
    transition: var(--transition);
    color: var(--clr-text-hover);
}

/* MAIN */
#main-container {
    height: calc(100vh - 3rem);
    margin: 0  5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#main-container h1 {
    background-color: #000;
    padding: 1.3rem;
    border-radius: var(--radius);
    font-size: 2.2rem;
    color: var(--clr-light);
}

#main-container .color,
#main-container .hex {
    color: var(--clr-text);
}

#btn{
    border-radius: var(--radius);
    padding: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
}

#btn:hover {
    transition: var(--transition);
    background-color: var(--clr-btn-background-hover);
    color: var(--clr-btn-text-hover);
}


@media only screen and (max-width: 800px) {
    #main-container h1 {
        padding: 1.3rem;
        font-size: 2.2rem;
    }

}






